<div id="page-content-wrapper">
  <div class="container-fluid">
    <% if(!checkR) { %>
    <form action="/registeration" method="post">
      <!-- loop for matrials -->
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Code</th>
            <th scope="col">Level</th>
            <th scope="col">Hours</th>
          </tr>
        </thead>

      <!--  -->
        <tbody>
          <% showMaterials.forEach(function (n,index) { %>

          <tr>
            <td><% const mnames = [n.materialName] %> <%= n.materialName %></td>
            <td><%= n.code %></td>
            <td><%= n.level %></td>
            <td><%= n.hours %></td>

            <td>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="<%= mnames %>"
                  id="flexCheckDefault"
                  name="<%= `m${index}` %>"
                />
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      <!--  -->
      </table>

      <input class="btn btn-dark" type="submit" value="Register" />
    </form>
    <% } %>
      <!-- new------------------------------------------------------> 
    <% if(checkR) { %> 
    <table class="table align-middle"> 
      <thead> 
        <tr> 
          <th scope="col">Course Name</th> 
        </tr> 
      </thead> 
 
      <tbody> 
        <% checked.map(function (course) { %> 
          <% if(course !== '') { %> 
        <tr> 
          <td><%= course %></td> 
        </tr> 
        <% } %> 
        <% }) %> 
      </tbody> 
    </table> 
    <% } %> 
 
    <!-- new---------------------------------------------------------> 
    <!-- /#page-content-wrapper -->
  </div>
</div>
